.titulo {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
}

.btn {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 17px;
}

input {
    border: 2px solid rgb(117, 171, 233);
    border-style: solid;
    border-radius: 10px;
    margin-bottom: 15px;
}

input:focus {
    outline: none;
    border: 3px solid rgba(0, 98, 209, 0.801);
}

.btn-primary:hover {
    background-color: rgb(0, 20, 43);
    border-color: rgb(0, 20, 43);
    border: none;
}

.texto{
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 17px;
    color: black;
    text-align: center;
    padding: 10px;
}

#root {
    flex-direction: column;
    gap: 25px;
    margin-bottom: 25vh;
}

.divCard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

/*Hero Section*/
.hero-frame {
    overflow: hidden; /*Impede que a imagem vaze do quadro*/
}

.hero img, .hero {
   /* Aplica propriedade cover para recortar parte da imagem (e não distorcê-la),
   definindo seu ponto de foco a partir da propriedade object-position*/
    object-fit: cover;
    object-position: center;
    height: 50vh;
}

/*Responsividade media-query*/
@media (max-width: 576px) {
    .hero img, .hero {
        height: 50vh;
    }
}

/*Date Selector Section*/
.divDateSelector {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 70px;
}

.inputDate {
    width: 250px;
    height: 70px;
    margin-bottom: 0;
}

.buttonSearch {
    width: 140px;
    height: 70px;
    font-size: 16px;
}